alacritty
configstore
fish/conf.d
flutter
fontforge/plugin
github-copilot
iterm2
nvim-test
raycast/extensions/be268af3-1b74-491e-ba09-da66a11e5d5c
simple-update-notifier
skhd
yabai
yarn/global
zed
zellij
.DS_Store
karabiner
nvim-mio
television
tmux/.tmux/plugins
